

.button{
   cursor: pointer;

  
}

.button:hover{
    filter: brightness(2);
    transition: 1200ms linear;
}

.button svg{
    color: #a19999;
}

.buttonBox{
    color:#a19999;
    border: 2px solid #a19999;
    padding: 3px;
    border-radius: 15px;
}

